#osplits table {
	background: white;
	border: none;
	border-collapse: collapse;
	font: normal 11px verdana, arial, helvetica, sans-serif;
	margin-top: 3em;
	overflow-x: scroll; 
}

#osplits table.restricted tbody:not(.selected) {
	display: none;
}

#osplits button {
	border-style:none;
	background-color: #EBB166;
	text-decoration: none;
	font-size: 11px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-box-shadow: 1px 1px 1px #888;
	color: white;
	position: relative;
	top: -1px;
}

#osplits button:hover {
	background-color: #C4975E;
}

#osplits caption {
	font-weight: bold;
	text-align: left;
	font-size: 16px;
	margin-left: 2em;
    margin-bottom: 0.5em;
}

#osplits th {
    font-weight: bold;
 	white-space: nowrap;
	color: #4E4E4E;
}

#osplits .best {
	color: #0000FF;
}

#osplits .left {
    text-align: left;
    padding-left: 0.7em;
}

#osplits .right, #osplits td {
    text-align: right;
    padding-right: 0.7em;
}
#osplits td.last {
    padding-right: 0;
}
#osplits .ctrlid {
	font-size: 9px;
	color: #8B8B8B;
    font-weight: normal;
}
#osplits .club {
	color: #8B8B8B;
	font-weight: normal;
}
#osplits table:not(.restricted) tbody:nth-child(n).selected, #osplits table:not(.restricted) tbody:nth-child(n):hover.selected {
    background-color: #FFC984;
}
#osplits tbody:nth-child(n):hover {
    background-color: #FFE9CD;
}
#osplits tbody:nth-child(2n+1) {
    background-color: #F1F1F1;
}
#osplits tbody:nth-child(2n) {
    background-color: #white;
}
#osplits tbody tr:nth-child(2n) {
    color: #8B8B8B;
}
