#osplits {
	font-family: Verdana, sans-serif;
}
#osplits h1 {
	font-size: 1.5em;
	margin: 1em 0 0.5em 1em;
}
#osplits table {
	background: white;
	border: none;
	border-collapse: collapse;
	font: normal 11px verdana, arial, helvetica, sans-serif;
	overflow-x: scroll; 
}

#osplits button {
	border-style:none;
	background-color: #EBB166;
	text-decoration: none;
	font-size: 11px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-box-shadow: 1px 1px 1px #888;
	color: white;
	position: relative;
	top: -1px;
}

#osplits button:hover {
	background-color: #C4975E;
}

#osplits caption {
	font-weight: bold;
	text-align: left;
	font-size: 16px;
	margin-left: 2em;
    margin-bottom: 0.5em;
    white-space: nowrap;
}

#osplits .highlighted {
	color: #0000FF;
	font-weight: bold;
}

#osplits .left {
    text-align: left;
    padding-left: 0.7em;
}
#osplits .container{
    position: relative;	
}
#osplits .graph {
    position: absolute;
    top: 60px;
}
#osplits canvas{
    position: absolute;
    top: 0;
    left: 0;
}
#osplits .graphMode .selected .square {
    border-radius: 2px;
    width: 10px;
    height: 10px;
}
#osplits .graphMode {
    min-height: 560px;
}
#osplits .graphMode .scrollable {
    max-height: 560px;
    overflow-y: auto;
}
#osplits .graphMode table {
    font-size: xx-small;
}
#osplits th, #osplits thead td, #osplits, .graphMode td.total {
    font-weight: bold;
    white-space: nowrap;
    color: #4E4E4E;
}
#osplits .right, #osplits td {
    text-align: right;
    padding-right: 0.7em;
}
#osplits td.last {
    padding-right: 0;
}
#osplits .graphMode td.last:not(.total) {
    color: rgba(0,0,0,0);
}
#osplits .ctrlid {
	font-size: 9px;
	color: #8B8B8B;
    font-weight: normal;
}
#osplits .club {
	color: #8B8B8B;
	font-weight: normal;
}
#osplits table:not(.restricted) tbody:nth-child(n).selected, #osplits table:not(.restricted) tbody:nth-child(n):hover.selected {
    background-color: #FFC984;
}
#osplits tbody:nth-child(n):hover {
    background-color: #FFE9CD;
}
#osplits tbody:nth-child(2n+1) {
    background-color: #F1F1F1;
}
#osplits tbody:nth-child(2n) {
    background-color: #white;
}
#osplits tbody tr:nth-child(2n) {
    color: #8B8B8B;
}
